In [1]:
import pandas as pd

In [2]:
cd=pd.read_csv('autodata-mpg.csv')

In [3]:
cd.head(5)

,Name,Manufacturer,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Engine CC,Power,Seats,Mileage Km/L,Price
0,Maruti Wagon R LXI CNG,Maruti,Mumbai,2010,72000,CNG,Manual,First,998,58.16,5,26.60,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Hyundai,Pune,2015,41000,Diesel,Manual,First,1582,126.20,5,19.67,12.50
2,Honda Jazz V,Honda,Chennai,2011,46000,Petrol,Manual,First,1199,88.70,5,18.20,4.50
3,Maruti Ertiga VDI,Maruti,Chennai,2012,87000,Diesel,Manual,First,1248,88.76,7,20.77,6.00
4,Audi A4 New 2.0 TDI Multitronic,Audi,Coimbatore,2013,40670,Diesel,Automatic,Second,1968,140.80,5,15.20,17.74

In [4]:
cd['Year'].describe

<bound method NDFrame.describe of 0       2010
1       2015
2       2011
3       2012
4       2013
        ...
5970    2014
5971    2015
5972    2012
5973    2013
5974    2011
Name: Year, Length: 5975, dtype: int64>

In [5]:
minage=2010
maxage=2024
minen=5
maxeng=6876
minp=6
maxpo=898
minmi=15
maxmil=765
tran="Manual"
seats=5
fueltype="CNG"

In [6]:
# df1=cd[(cd['Year']>=minage)&(cd['Year']<maxage)&(cd['Engine CC']>=minen)&(cd['Engine CC']<maxeng)&(cd['Power']>minp)&(cd['Power']<maxpo)&(cd['Mileage Km/L']>minmi)&(cd['Mileage Km/L']<maxmil)&(cd['Transmission']==tran)
# &(cd['Seats']==seats)&(cd['Fuel_Type']==fueltype)] 
# df1.shape

In [7]:
# cd[(cd['Mileage Km/L']>minmi)&(cd['Mileage Km/L']<maxmil)&(cd['Transmission']==tran)
# &(cd['Seats']==seats)&(cd['Fuel_Type']==fueltype)]
# df2.shape

In [8]:
# def resultTable(int minage , int maxage , int mineng ,int maxeng , int minpow ,int maxpow , int minmil , int maxmil ,str trans ,int seats , str fueltype)
#     final_dataset=df1=cd[(cd['Year']>=minage)&(cd['Year']<maxage)&(cd['Engine CC']>=mineng)&(cd['Engine CC']<maxeng)&(cd['Power']>minp)&(cd['Power']<maxpow)&(cd['Mileage Km/L']>minmil)&(cd['Mileage Km/L']<maxmil)&(cd['Transmission']==trans)
# &(cd['Seats']==seats)&(cd['Fuel_Type']==fueltype)] 
#     final_dataset.head()

In [9]:
#     import pandas as pd
#     cd=pd.read_csv('data.csv')
def resultTable (minage ,maxage ,mineng ,maxeng ,minpow ,maxpow ,minmil ,maxmil ,trans ,seats ,fueltype ):
        final_dataset=cd[(cd['Year']>=minage)&(cd['Year']<maxage)&(cd['Engine CC']>=mineng)&(cd['Engine CC']<maxeng)&(cd['Power']>minpow)&(cd['Power']<maxpow)&(cd['Mileage Km/L']>minmil)&(cd['Mileage Km/L']<maxmil)&(cd['Transmission']==trans)&(cd['Seats']==seats)&(cd['Fuel_Type']==fueltype)] 
        final_dataset

In [30]:
cd.columns

Index(['Name', 'Manufacturer', 'Location', 'Year', 'Kilometers_Driven',
       'Fuel_Type', 'Transmission', 'Owner_Type', 'Engine CC', 'Power',
       'Seats', 'Mileage Km/L', 'Price'],
      dtype='object')

In [18]:
resultTable([[ 10 , 20 ,25,600,15,70 ,15,25, "Manual",5 ,"CNG"]])

TypeError: resultTable() missing 10 required positional arguments: 'maxage', 'mineng', 'maxeng', 'minpow', 'maxpow', 'minmil', 'maxmil', 'trans', 'seats', and 'fueltype'

In [17]:
# import pickle
# file=open('Buy-Model.pkl','wb')
# pickle.dump(resultTablesult,file)

NameError: name 'resultTablesult' is not defined

In [44]:
def resultTable (minmil ,maxmil ,trans  ):
#         final_dataset=cd[(cd['Year']>=minage)&(cd['Year']<maxage)&(cd['Engine CC']>=mineng)&(cd['Engine CC']<maxeng)&(cd['Power']>minpow)&(cd['Power']<maxpow)&(cd['Mileage Km/L']>minmil)&(cd['Mileage Km/L']<maxmil)&(cd['Transmission']==trans)&(cd['Seats']==seats)&(cd['Fuel_Type']==fueltype)] 
        final_dataset=cd[(cd['Mileage Km/L']>minmil)&(cd['Mileage Km/L']<maxmil)&(cd['Transmission']==tran)]
        df=pd.DataFrame(final_dataset,columns=['Name', 'Manufacturer', 'Owner_Type', 'Price'])
        print(df)

In [45]:
resultTable(15,16,"Manual")

                                            Name  Manufacturer Owner_Type  \
55    Volkswagen Vento 2013-2015 1.6 Comfortline    Volkswagen      First
63     Mercedes-Benz New C-Class 200 CDI Classic  MercedesBenz     Second
71                        Mahindra XUV500 W8 4WD      Mahindra      First
94                        Mahindra XUV500 W8 2WD      Mahindra      First
99          Volkswagen Polo Petrol Highline 1.6L    Volkswagen      First
...                                          ...           ...        ...
5878            Volkswagen Vento Petrol Highline    Volkswagen      First
5880               Mahindra Scorpio 1.99 S4 Plus      Mahindra      First
5911   Mercedes-Benz New C-Class 200 CDI Classic  MercedesBenz     Second
5942                            Hyundai Getz GLS       Hyundai     Second
5960                            Hyundai Getz GLE       Hyundai      First

      Price
55     3.99
63    10.00
71     9.65
94     8.10
99     2.65
...     ...
5878   5.54
5880  10.08
5911  15.50
5942   0.85
5960   2.20

[243 rows x 4 columns]

In [50]:
def resultTable (minage ,maxage ,mineng ,maxeng ,minpow ,maxpow ,minmil ,maxmil ,trans ,seats ,fueltype ):
            final_dataset=df1=cd[(cd['Year']>=minage)&(cd['Year']<maxage)&(cd['Engine CC']>=mineng)&(cd['Engine CC']<maxeng)&(cd['Power']>minpow)&(cd['Power']<maxpow)&(cd['Mileage Km/L']>minmil)&(cd['Mileage Km/L']<maxmil)&(cd['Transmission']==trans)&(cd['Seats']==seats)&(cd['Fuel_Type']==fueltype)] 
            df=pd.DataFrame(final_dataset,columns=['Name', 'Manufacturer', 'Owner_Type', 'Price'])
            print(df.shape)
            print(df)

In [51]:
resultTable(10 , 20 ,25,600,15,70 ,15,25, "Manual",5 ,"CNG")

(0, 4)
Empty DataFrame
Columns: [Name, Manufacturer, Owner_Type, Price]
Index: []