In [1]:
import pandas as pd

In [2]:
cd=pd.read_csv('autodata-mpg.csv')

In [18]:
cd.head(5)

,Name,Manufacturer,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Engine CC,Power,Seats,Mileage Km/L,Price
0,Maruti Wagon R LXI CNG,Maruti,Mumbai,2010,72000,CNG,Manual,First,998,58.16,5,26.60,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Hyundai,Pune,2015,41000,Diesel,Manual,First,1582,126.20,5,19.67,12.50
2,Honda Jazz V,Honda,Chennai,2011,46000,Petrol,Manual,First,1199,88.70,5,18.20,4.50
3,Maruti Ertiga VDI,Maruti,Chennai,2012,87000,Diesel,Manual,First,1248,88.76,7,20.77,6.00
4,Audi A4 New 2.0 TDI Multitronic,Audi,Coimbatore,2013,40670,Diesel,Automatic,Second,1968,140.80,5,15.20,17.74

In [16]:
cd['Year'].describe

<bound method NDFrame.describe of 0       2010
1       2015
2       2011
3       2012
4       2013
        ...
5970    2014
5971    2015
5972    2012
5973    2013
5974    2011
Name: Year, Length: 5975, dtype: int64>

In [30]:
minage=2010
maxage=2024
minen=5
maxeng=6876
minp=6
maxpo=898
minmi=98
maxmil=765
tran=1
seats=5
fueltype="CNG"

In [38]:
cd[(cd['Year']>=minage)&(cd['Year']<maxage)&(cd['Engine CC']>=minen)&]

Empty DataFrame
Columns: [Name, Manufacturer, Location, Year, Kilometers_Driven, Fuel_Type, Transmission, Owner_Type, Engine CC, Power, Seats, Mileage Km/L, Price]
Index: []

In [40]:
cd[(cd['Engine CC']>maxeng)]

Empty DataFrame
Columns: [Name, Manufacturer, Location, Year, Kilometers_Driven, Fuel_Type, Transmission, Owner_Type, Engine CC, Power, Seats, Mileage Km/L, Price]
Index: []